[defaults]
timeout=10
show_custom_stats=true
host_key_checking=false
stdout_callback=yaml
callback_result_format=yaml
callbacks_enabled=timer, profile_tasks, profile_roles

[ssh_connection]
retries=1
pipelining=True
